<header class="flex justify-between mb-10">
    {{ template "logo.tpl.html" . }}
    <a href="lang?lang={{ if eq .Language "pt-BR" }}en{{ else }}pt-BR{{ end }}" class="flex items-center p-1 rounded hover:bg-primary-hover" title="{{ if eq .Language "pt-BR" }}{{ .T "common.switch_to_english" }}{{ else }}{{ .T "common.switch_to_portuguese" }}{{ end }}">
        {{ if eq .Language "pt-BR" }}
        <span class="iconify inline" data-icon="twemoji:flag-united-states" style="width: 24px; height: 24px"></span>
        {{ else }}
        <span class="iconify inline" data-icon="twemoji:flag-brazil" style="width: 24px; height: 24px"></span>
        {{ end }}
    </a>
</header>