<script type="module" src="assets/js/components/menu-main.js"></script>

<div class="flex justify-between space-x-2 xl:space-x-4 items-center relative flex-wrap sm:flex-nowrap no-print" id="main-menu" v-scope @vue:mounted="mounted">
    <div class="mr-8 hidden lg:inline-block shrink-0">
    {{ template "logo.tpl.html" }}
    </div>

    <a class="menu-item" href="summary">
        <span class="iconify inline text-2xl text-secondary" data-icon="ic:round-dashboard"></span>
        <span class="text-foreground hidden lg:inline-block">{{ .T "nav.dashboard" }}</span>
    </a>

    {{ if .LeaderboardEnabled }}
    <a class="menu-item" href="leaderboard">
        <span class="iconify inline text-2xl text-secondary" data-icon="fluent:data-bar-horizontal-24-filled"></span>
        <span class="text-foreground hidden lg:inline-block">{{ .T "nav.leaderboard" }}</span>
    </a>
    {{ end }}

    <a class="menu-item" href="projects">
        <span class="iconify inline text-2xl text-secondary p-px" data-icon="octicon:project-16"></span>
        <span class="text-foreground hidden lg:inline-block">{{ .T "nav.projects" }}</span>
    </a>

    <a class="menu-item" href="teams">
        <span class="iconify inline text-2xl text-secondary" data-icon="bi:people-fill"></span>
        <span class="text-foreground hidden lg:inline-block">{{ .T "nav.teams" }}</span>
    </a>

    <div class="menu-item relative" @click="state.showDropdownResources = !state.showDropdownResources" data-trigger-for="showDropdownResources">
        <span class="iconify inline text-2xl text-secondary" data-icon="ph:books-bold"></span>
        <a class="text-secondary hidden xl:inline-block">{{ .T "nav.resources" }}</a>
        <span class="iconify inline text-xl text-secondary" data-icon="akar-icons:chevron-down"></span>

        <div v-cloak v-show="state.showDropdownResources" class="flex bg-card shadow-md z-10 p-2 absolute top-0 right-0 rounded popup mt-12 w-max" id="resources-menu-dropdown" style="min-width: 160px">
            <div class="grow flex flex-col">
                <div class="submenu-item">
                    <a class="flex justify-between w-full text-foreground items-center px-2 font-semibold gap-4 whitespace-nowrap" href="https://github.com/muety/wakapi" target="_blank" rel="noreferrer noopener" @click="state.showDropdownResources = !state.showDropdownResources"  data-trigger-for="showDropdownResources">
                        <span class="text-sm">{{ .T "nav.github" }}</span>
                        <span class="iconify inline" data-icon="codicon:github-inverted"></span>
                    </a>
                </div>
                <div class="submenu-item">
                    <a class="flex justify-between w-full text-foreground items-center px-2 font-semibold gap-4 whitespace-nowrap" href="setup" @click="state.showDropdownResources = !state.showDropdownResources"  data-trigger-for="showDropdownResources">
                        <span class="text-sm">{{ .T "nav.setup" }}</span>
                        <span class="iconify inline" data-icon="ic:outline-integration-instructions"></span>
                    </a>
                </div>
                <div class="submenu-item">
                    <a class="flex justify-between w-full text-foreground items-center px-2 font-semibold gap-4 whitespace-nowrap" href="swagger-ui" @click="state.showDropdownResources = !state.showDropdownResources"  data-trigger-for="showDropdownResources">
                        <span class="text-sm">{{ .T "nav.api_docs" }}</span>
                        <span class="iconify inline" data-icon="bx:bx-code-curly"></span>
                    </a>
                </div>
                <div class="submenu-item">
                    <a class="flex justify-between w-full text-foreground items-center px-2 font-semibold gap-4 whitespace-nowrap" href="https://wakatime.com" target="_blank" rel="noreferrer noopener" @click="state.showDropdownResources = !state.showDropdownResources"  data-trigger-for="showDropdownResources">
                        <span class="text-sm">{{ .T "nav.wakatime" }}</span>
                        <span class="iconify inline" data-icon="simple-icons:wakatime"></span>
                    </a>
                </div>
                <div class="submenu-item">
                    <a class="flex justify-between w-full text-foreground items-center px-2 font-semibold gap-4 whitespace-nowrap" href="https://github.com/sponsors/muety" target="_blank" rel="noreferrer noopener" @click="state.showDropdownResources = !state.showDropdownResources"  data-trigger-for="showDropdownResources">
                        <span class="text-sm">{{ .T "nav.donate" }}</span>
                        <span class="iconify inline" data-icon="bx:bxs-heart"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <a class="menu-item" href="settings">
        <span class="iconify inline text-2xl text-secondary" data-icon="ci:settings-filled"></span>
        <span class="text-secondary hidden xl:inline-block">{{ .T "nav.settings" }}</span>
    </a>

    {{ if .SharedLoggedInViewModel.User.IsAdmin }}
    <a class="menu-item" href="admin">
        <span class="iconify inline text-2xl text-secondary" data-icon="ri:admin-fill"></span>
        <span class="text-secondary hidden xl:inline-block">{{ .T "nav.admin" }}</span>
    </a>
    {{ end }}

    <div class="grow"></div>

    <a href="lang?lang={{ if eq .Language "pt-BR" }}en{{ else }}pt-BR{{ end }}" class="flex items-center p-1 rounded hover:bg-primary-hover" title="{{ if eq .Language "pt-BR" }}{{ .T "common.switch_to_english" }}{{ else }}{{ .T "common.switch_to_portuguese" }}{{ end }}">
        {{ if eq .Language "pt-BR" }}
        <span class="iconify inline" data-icon="twemoji:flag-united-states" style="width: 24px; height: 24px"></span>
        {{ else }}
        <span class="iconify inline" data-icon="twemoji:flag-brazil" style="width: 24px; height: 24px"></span>
        {{ end }}
    </a>

    <div class="shrink-0 menu-item relative" @click="state.showDropdownUser = !state.showDropdownUser" data-trigger-for="showDropdownUser">
        <div class="hidden md:flex flex-col text-right">
            <div>
                {{ if .SharedLoggedInViewModel.User.HasActiveSubscription }}
                <span class="iconify inline text-gold mr-1" data-icon="jam:crown-f" style="margin-bottom: -2px" title="{{ .T "nav.supporter_thanks" }}"></span>
                {{ end }}
                <a class="text-foreground">{{ .SharedLoggedInViewModel.User.ID }}</a>
            </div>
            {{ if .SharedLoggedInViewModel.User.Email }}
            <span class="text-xxs text-secondary">{{ .SharedLoggedInViewModel.User.Email }}</span>
            {{ end }}
        </div>
        {{ if avatarUrlTemplate }}
        <img src="{{ .SharedLoggedInViewModel.User.AvatarURL avatarUrlTemplate }}" width="32px" class="rounded-full border-accent" alt="{{ .T "common.user_avatar_alt" }}" title="{{ .T "common.avatar_tooltip" }}"/>
        {{ else }}
        <span class="iconify inline cursor-pointer text-secondary rounded-full border-accent" style="width: 32px; height: 32px" data-icon="ic:round-person" @click="state.showDropdownUser = !state.showDropdownUser" data-trigger-for="showDropdownUser"></span>
        {{ end }}

        <div v-cloak v-show="state.showDropdownUser" class="flex bg-card shadow-md z-10 p-2 absolute top-0 right-0 rounded popup mt-16 w-full" id="user-menu-popup" style="min-width: 156px;">
            <div class="grow flex flex-col">
                <div class="submenu-item hover:bg-focused rounded p-1 text-right">
                    <button class="flex justify-between w-full text-foreground items-center px-2 font-semibold gap-4 whitespace-nowrap" @click="state.showApiKey = true" data-trigger-for="showApiKey">
                        <span class="text-sm">{{ .T "nav.show_api_key" }}</span>
                        <span class="iconify inline" data-icon="fluent:key-32-filled"></span>
                    </button>
                </div>
                {{ if .InvitesEnabled }}
                <div class="submenu-item hover:bg-focused rounded p-1 text-right">
                    <a class="flex justify-between w-full text-foreground items-center px-2 font-semibold gap-4 whitespace-nowrap" href="settings#account">
                        <span class="text-sm">{{ .T "nav.invite_friend" }}</span>
                        <span class="iconify inline" data-icon="mdi:invite"></span>
                    </a>
                </div>
                {{ end }}
                <div class="submenu-item hover:bg-focused rounded p-1 text-right">
                    <form action="logout" method="post" class="grow">
                        <button type="submit" class="flex justify-between w-full text-foreground items-center px-2 font-semibold gap-4 whitespace-nowrap">
                            <span class="text-sm">{{ .T "nav.logout" }}</span>
                            <span class="iconify inline" data-icon="ls:logout"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div v-cloak v-show="state.showApiKey" class="flex bg-card shadow-md z-10 p-2 absolute top-0 right-0 rounded popup" id="api-key-popup">
        <div class="grow flex flex-col px-2">
            <span class="text-xxs text-secondary mx-1">{{ .T "nav.api_key" }}</span>
            <input type="text" class="bg-transparent text-sm text-foreground mx-1 font-mono" id="api-key-container" readonly value="{{ .ApiKey }}" style="min-width: 330px">
        </div>
        <div class="flex items-center px-2 border-l border-muted">
            <button title="{{ .T "nav.copy_clipboard" }}" onclick="copyApiKey(event)">
                <span class="iconify inline text-foreground" data-icon="majesticons:clipboard-copy"></span>
            </button>
        </div>
    </div>
</div>
